alabaster==0.7.12
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.8.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
coverage==5.0.4
docutils==0.16
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.3.17
httpx==0.12.1
hyperframe==5.2.0
idna==2.9
imagesize==1.2.0
Jinja2==2.11.1
MarkupSafe==1.1.1
more-itertools==8.2.0
packaging==20.3
pluggy==0.13.1
py==1.8.1
Pygments==2.6.1
pyparsing==2.4.6
pytest==5.4.1
pytest-asyncio==0.10.0
pytest-cov==2.8.1
pytz==2019.3
requests==2.23.0
rfc3986==1.3.2
six==1.14.0
sniffio==1.1.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
urllib3==1.25.8
wcwidth==0.1.9
